.fz {
    &10 {
        font-size: 10px;
        line-height: 110%;
    }
    &11 {
        font-size: 11px;
        line-height: 110%;
    }
    &12 {
        font-size: 12px;
        line-height: 110%;
    }
    &13 {
        font-size: 13px;
        line-height: 110%;
    }
    &14 {
        font-size: 14px;
        line-height: 110%;
    }
    &15 {
        font-size: 15px;
        line-height: 110%;
    }
    &16 {
        font-size: 16px;
        line-height: 110%;
    }
    &17 {
        font-size: 17px;
        line-height: 110%;
    }
    &18 {
        font-size: 18px;
        line-height: 110%;
    }
    &19 {
        font-size: 19px;
        line-height: 110%;
    }
    &20 {
        font-size: 20px;
        line-height: 110%;
    }
    &21 {
        font-size: 21px;
        line-height: 110%;
    }
    &22 {
        font-size: 22px;
        line-height: 110%;
    }
    &23 {
        font-size: 23px;
        line-height: 110%;
    }
    &24 {
        font-size: 24px;
        line-height: 110%;
    }
    &25 {
        font-size: 25px;
        line-height: 110%;
    }
    &26 {
        font-size: 26px;
        line-height: 110%;
    }
    &27 {
        font-size: 27px;
        line-height: 110%;
    }
    &28 {
        font-size: 28px;
        line-height: 110%;
    }
    &29 {
        font-size: 29px;
        line-height: 110%;
    }
    &30 {
        font-size: 30px;
        line-height: 110%;
    }
    &31 {
        font-size: 31px;
        line-height: 110%;
    }
    &32 {
        font-size: 32px;
        line-height: 110%;
    }
    &33 {
        font-size: 33px;
        line-height: 110%;
    }
    &34 {
        font-size: 34px;
        line-height: 110%;
    }
    &35 {
        font-size: 35px;
        line-height: 110%;
    }
    &36 {
        font-size: 36px;
        line-height: 110%;
    }
    &37 {
        font-size: 37px;
        line-height: 110%;
    }
    &38 {
        font-size: 38px;
        line-height: 110%;
    }
    &39 {
        font-size: 39px;
        line-height: 110%;
    }
    &40 {
        font-size: 40px;
        line-height: 110%;
    }
    &41 {
        font-size: 41px;
        line-height: 110%;
    }
    &42 {
        font-size: 42px;
        line-height: 110%;
    }
    &43 {
        font-size: 43px;
        line-height: 110%;
    }
    &44 {
        font-size: 44px;
        line-height: 110%;
    }
    &45 {
        font-size: 45px;
        line-height: 110%;
    }
    &46 {
        font-size: 46px;
        line-height: 110%;
    }
    &47 {
        font-size: 47px;
        line-height: 110%;
    }
    &48 {
        font-size: 48px;
        line-height: 110%;
    }
    &49 {
        font-size: 49px;
        line-height: 110%;
    }
    &50 {
        font-size: 50px;
        line-height: 110%;
    }
    &51 {
        font-size: 51px;
        line-height: 110%;
    }
    &52 {
        font-size: 52px;
        line-height: 110%;
    }
    &53 {
        font-size: 53px;
        line-height: 110%;
    }
    &54 {
        font-size: 54px;
        line-height: 110%;
    }
    &55 {
        font-size: 55px;
        line-height: 110%;
    }
    &56 {
        font-size: 56px;
        line-height: 110%;
    }
    &57 {
        font-size: 57px;
        line-height: 110%;
    }
    &58 {
        font-size: 58px;
        line-height: 110%;
    }
    &59 {
        font-size: 59px;
        line-height: 110%;
    }
    &60 {
        font-size: 60px;
        line-height: 110%;
    }
    &61 {
        font-size: 61px;
        line-height: 110%;
    }
    &62 {
        font-size: 62px;
        line-height: 110%;
    }
    &63 {
        font-size: 63px;
        line-height: 110%;
    }
    &64 {
        font-size: 64px;
        line-height: 110%;
    }
    &65 {
        font-size: 65px;
        line-height: 110%;
    }
    &66 {
        font-size: 66px;
        line-height: 110%;
    }
    &67 {
        font-size: 67px;
        line-height: 110%;
    }
    &68 {
        font-size: 68px;
        line-height: 110%;
    }
    &69 {
        font-size: 69px;
        line-height: 110%;
    }
    &70 {
        font-size: 70px;
        line-height: 110%;
    }
}