// ! кнопка открытия меню (гамбургер)
.menu-btn {
    span {
        transition: var(--anim);
    } 
}
.button {
    transition: var(--anim);
}
.menu {
    &__link {
        transition: var(--anim);
    }
}

@media (max-width: 768px) {
    .menu {
        transition: var(--anim);
    }
}