<div class="section first-screen">
    <picture class="first-screen__image">
        <source srcset="image/first-mob.webp" media="(max-width: 767px)">
        <source srcset="image/first.webp" type="image/webp">
        <img src="image/first.webp"  alt="{{ data.blocks.[0].alt }}">
    </picture>
    <div class="first-screen__content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="first-screen__box">
                        <h1 class="mb50">Заголовок</h1>
                        <a href="#" class="button">Кнопка</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>