<section class="error">
    <picture>
        <source data-srcset="image/error-mob.webp" srcset="image/error-mob.webp" media="(max-width: 767px)">
        <source data-srcset="image/error.webp" srcset="image/error.webp" type="image/webp">
        <img class="lazy" data-src="image/error.webp" srcset="image/error.webp" src="image/error.webp" alt="error">
    </picture>
    <div class="error__content">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <p class="error__title">Algo deu errado!</p>
                    <p class="error__subtitle"> A página que você está procurando não existe.</p>
                    <a href="/" class="error__button">
                        <img class="error__img" src="icons/btn-error.svg" alt="page-404">
                        <span class="error__btn-text">Voltar</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

