<div class="review section-mb">
    <div class="container">
        <div class="review__head">
            <p class="fz32 fw600 text-capitalize mb20 review__title md-text-center">Заголовок</p>
        </div>
        <div class="row">
            <div class="col-md-6">
                <form action="#" class="form">
                    <div class="form__item">
                        <input type="text" placeholder="Nome">
                    </div>
                    <div class="form__item">
                        <input type="email" required placeholder="Email">
                    </div>
                    <div class="form__item">
                        <textarea name="review-text" placeholder="Comente"></textarea>
                    </div>
                    <button class="form__button" type="submit">Текст Кнопки</button>
                </form>
            </div>
            <div class="col-md-6">
                <div class="swiper">
                    <div class="swiper-wrapper">

                        <!-- CONTENT REVIEW ITEM -->

                        <div class="swiper-slide">
                            <div class="review__item">
                                <div class="review__head">
                                    <p class="review__author">Автор</p>
                                    <span class="review__quot"></span>
                                </div>
                                <p></p>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="review__item">
                                <div class="review__head">
                                    <p class="review__author">Автор</p>
                                    <span class="review__quot"></span>
                                </div>
                                <p></p>
                            </div>
                        </div>

                    </div>
                    <div class="box-swiper-buttons">
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>
</div>